*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #091921;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background:linear-gradient(#f00064,#ffc107);
    clip-path: circle(22% at 30% 20%);
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background:linear-gradient(#ffffff,#fc00bd);
    clip-path: circle(20% at 70% 90%);
}
.container{

    position: relative;
    background-color: rgba(255,255,255,.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255,255,255,.2);
    border-left: 1px solid rgba(255,255,255,.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
}
.container .calculator{
    position:relative;
    display: grid;

}
.container .calculator .value{
    height: 140px;
    width: 300px;
    grid-column: span 4;
    border: none;
    outline: none;
    text-align: right;
    background-color: transparent;
    color: white;
    font-size: 2.5em;
    border-bottom: 1px solid rgba(255,255,255,.05);
    border-left: 1px solid rgba(255,255,255,.05);
    padding: 10px;
}
/* .num,.result{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.plus{
    text-align: center;
    grid-row: span 2;
    align-self: center;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
} */
span{
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    user-select:none;
    border-bottom: 1px solid rgba(255,255,255,.05);
    border-left: 1px solid rgba(255,255,255,.05);
    transition: .3s;
}
span:hover{
    transition:0s;
    background-color: rgba(255,255,255,.05);
}
span:active{
    background-color: #14ff47;
    color: #192f00;
    font-size: 24px;
    font-weight: 500;
}
.plus{
    grid-row: span 2;
    height: 150px;
}
span.clear{
    grid-column: span 2 !important;
    width: 150px;
    background-color: rgba(255,255,255,.05);
}
